<div>
        <form>
            <div class="input-group form-group-sm">
                <input type="text" class="form-control input-sm" placeholder="Search" ng-model="search.fullName" ng-minlength="2">
                    <div class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
            </div>
        <table class="table-striped table-bordered">
            <tr>
                <th></th>
                <th>Name</th>
                <th>DOB</th>
                <th>Phone Number</th>
                <th>Favourite</th>
                <th></th>
            </tr>
            <tr ng-repeat="contact in contacts | filter: search">
                <td>
                    <input type="checkbox" ng-click="selectContact(contact)"/>
                </td>
                <td>{{contact.fullName}}</td>
                <td>{{contact.dateOfBirth}}</td>
                <td>{{contact.phoneNumber}}</td>
                <td>
                    <input type="checkbox" ng-checked="contact.favourite" ng-click="selectFavourites(contact)"/>
                </td>
                <td ng-click="editContact(contact.id)" class="col-sm-1"><span class="glyphicon glyphicon-pencil  btn-link"></span></td>
            </tr>
        </table>

        <button class="btn btn-sm btn-danger" ng-disabled="checkSelected()" ng-click="removeSelected()">Delete selected</button>
        <button class="btn btn-sm btn-success"ng-click="createContact()">Create</button>
    </div>