    <div>
        <form name="contactForm" ng-submit="validateForm()" novalidate>
            <div class="input-group form-group-sm">
                <names-input first-name="contact.firstName" last-name="contact.lastName"></names-input>
                <birth-date value="contact.birthDate" model="contact.dateOfBirth"></birth-date>  
                <phone model="contact.phoneNumber"></phone>                             
                <gender-picker model="contact.gender"></gender-picker>
                <select-types list="options" model="contact.optionID"></select-types>                 
                <textarea type="textarea" class="form-control input-sm" placeholder="Description" ng-model="contact.description"></textarea>
            </div>
            <control></control>
        </form>
        <span class="alert alert-danger" ng-show="isErrorFirstName">isErrorFirstName</span>
        <span class="alert alert-danger" ng-show="isErrorLastName">isErrorLastName</span>
        <span class="alert alert-danger" ng-show="isErrorDate">isErrorDate</span>
        <span class="alert alert-danger" ng-show="isErrorPhone">isErrorPhone</span>
        <span class="alert alert-danger" ng-show="isErrorOption">isErrorOption</span>
        <span class="alert alert-danger" ng-show="isErrorGender">isErrorGender</span>
    </div>